body {
    display:flex; 
    flex-direction: column;
    color:#000000;
    background-color: #ACC8E5;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y:auto ;
}
aside{
    flex:1;
    overflow-y: auto;
}
.logo{
    font-size: 2em;
    margin: 10px;
   list-style-type: none;
}